apipkg==1.5
atomicwrites==1.3.0
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0.post1
decorator==4.4.2
execnet==1.7.1
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.1
mock==4.0.1
more-itertools==8.2.0
moviepy==1.0.1
numpy==1.18.1
opencv-python==4.2.0.32
packaging==20.1
path==13.1.0
path.py==12.4.0
Pillow==8.3.2
pluggy==0.13.1
proglog==0.1.9
py==1.8.1
pyparsing==2.4.6
pytest==5.3.5
pytest-shutil==1.7.0
PyYAML==5.3
requests==2.23.0
six==1.14.0
termcolor==1.1.0
tqdm==4.43.0
urllib3==1.25.8
wcwidth==0.1.8
